:root {
    cursor: unset;
}

.hidden {
    display: none;
}

textarea {
    width: 100%;
    min-height: 22px;
    max-height: calc(100vh - 250px);
    font-size: smaller;
    resize: none;
}

#outer {
    padding: 30px;
    padding-right: calc(30px + 100% - 100vw);
}

button {
    padding: 5px;
}

blockquote p {
    margin: 0;
}

:root {
    --font-size: 15px;
    --typography-spacing-vertical: 1rem;
}

#text {
    -moz-overflow-wrap: anywhere;
    -webkit-overflow-wrap: anywhere;
    -o-overflow-wrap: anywhere;
    overflow-wrap: break-word;
}

#manage {
    width: 70px;
    margin-left: 10px;
}

#header {
    display: flex;
}